@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

@import '@/sass/_variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
}

/* placeholder */
::placeholder,
::-webkit-input-placeholder {
  font-style: italic;
}

/* width of the entire scrollbar */
::-webkit-scrollbar,
::-webkit-scrollbar { /* Chrome/Opera/Safari */
    width: 5px;
}
::-moz-scrollbar,
::-webkit-scrollbar { /* Firefox 19+ */
    width: 5px;
}

/* color of the tracking area */
::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
    border-radius: 20px;
    background: $theme;
}
::-moz-scrollbar-track,
::-webkit-scrollbar-track {
    border-radius: 20px;
    background: $theme;
}

/* scrollbar thumb */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    background-color: $dim_white;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid rgb(41, 39, 39);  /* creates padding around scroll thumb */
}
::-moz-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    background-color: $dim_white;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid rgb(41, 39, 39);  /* creates padding around scroll thumb */
}
