@import '@/sass/_variables';

@import '@/sass/Mixin/_center';
@import '@/sass/Mixin/_background';

#ServiceBooking_wrapper {
  position: relative;
  @include backgroundTheme($theme, $img_theme_cover_url);

  #BookingBox {
    position: relative;
    // @include backgroundTheme($theme, $img_booking_box_cover_url);
    background-color: rgba(128, 128, 128, 0.555);
    width: 50%;
    min-height: 5%;
    border-radius: 15px;
    border: 5px solid black;
    color: white;
    text-align: center;
    padding: 10px;
    @include centerComponent(both);

    .BookedEquip {
      position: relative;
      background-color: rgba(0, 0, 0, 0.753);
      padding: 5px;
      margin: 10px 0;
      border-radius: 5px;
      width: 100%;
    }
  }
}

/* Responsive Text & Layout */
@media screen and (max-width: 770px) {
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 469px) {
}
